:root {
  --theme-color-1: chocolate;
  --theme-color-2: rgb(12, 131, 167);
  --highlight-color: rgb(255, 255, 150);
}

.project-container{
  display:flex;  
  flex-wrap:wrap;
  /*justify-content:space-between;*/
  padding: 20px;
  margin-left: 200px;
  transition: 0.5s ease-out;
}

@media(max-width:568px){
  .project-container{margin-left:10px; margin-top: 50px;}
}

.project-container-box{
  width: 400px;
  height: 360px;
  margin: 10px;
  overflow: hide;

  animation-name: growIn;
  animation-duration: 1000ms;
  transition: 0.5s ease-in-out;
}



@keyframes growIn{
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.project-container-box a{
  text-decoration: none;
}

.project-container-text{
  background-color: var(--theme-color-2);
  border-radius: 15px 15px 0px 0px;
  overflow: hidden;
}

.project-container-text h3{
  background-color: rgba(50, 50, 50, 0.8);
  color: rgb(255, 255, 255);
  text-align: center;
  height: 30px;
  padding-top: 2px;
  border-radius: 15px 15px 0px 0px;
  transition: 0.5s ease-in-out;
}

.project-container-text p{
  background-color: rgba(50, 50, 50, 0.8);
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 210px;
  padding: 10px;
  width: 400px;
  height: 60px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.award-winner::after, .published-work::after, .pending-publication::after{
  display: block;
  color: var(--highlight-color);
  background-color: rgba(50, 50, 50, 0.8);
  margin-top: 2px;
  font-size: 1rem;
}

.award-winner::after{
  content: "- Award Winner -";
}

.published-work::after{
  content: "- Published Work -";
}

.pending-publication::after{
  content: "- Pending Publication -";
}

.project-container-text:hover h3{
  transform: translateY(-100%);
  background-color: rgba(0, 0, 0, 0);
}

.project-container-text:hover p{
  transform: translateY(100%);
  background-color: rgba(0, 0, 0, 0);
}
/*@media(max-width:568px){
  .project-container-box{width: 300px; height:270px;}
  .project-container-text h3{height: 60px;}
  .project-container-text p{width: 300px; height:264px;}
}*/

.project-container-tags{
  height: 60px;
  width: 100%;
  background-color: rgba(129, 129, 129, 0.486);
  align-content: flex-start;
  display:flex;
  flex-wrap:wrap;
  padding: 5px;
  border-radius: 0px 0px 15px 15px;
}
.project-container-tags button{
  font-size: 0.75rem;
  height: 1.3rem;
  border: none;
  background: var(--theme-color-2);
  color: #fff;
  padding: 0.25rem 1rem;
  margin: 0px 5px 5px 0px;
  text-decoration: none;
  cursor:pointer;
  border-radius: 3px 12px;
  box-shadow: 3px 3px 5px #444;
  opacity: 0.85;
}

.project-container-tags button:hover {
  opacity: 1;
}

rect.btn {
  stroke:#fff;
  fill:#fff;
  fill-opacity:0;
  stroke-opacity:0;
}
