:root {
    --theme-color-1: chocolate;
    --theme-color-2: rgb(12, 131, 167);
    --section-color: #fff;
    --highlight-color: rgb(255, 255, 150);
  }

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Proxima Nova', 'Roboto', Georgia;
    background: rgb(245, 245, 245);
}

.container {
  display: flex;  
  flex-flow: row wrap;
  text-align: center;
  margin: 0 2% 20px 2%;
}

.width100{
  background: var(--section-color);
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
}

.width50-wrapper{
  display: flex;  
  flex-flow: row wrap;
  margin-bottom: 20px;
  width: 100%;
}
.width50-l{
  background: var(--section-color);
  width: 100%;
}

.width50-r{
  background: var(--section-color);
  width: 100%;
  margin-top: 20px;
}

.inner-container{
  padding: 10px;
  margin: 0;
  padding: 20px;
}

header{
    color: #fefefe;
    text-align: center;
    margin: 0 2% 0 2%;
}

header h1{
    background: var(--theme-color-1);
    padding: 5px 5px 0 5px;
    margin: 10px 0 0 0;
    font-size: 2rem;
}

header h2{
    background: var(--theme-color-1);
    padding: 0 5px 5px 5px;
    margin: 0;
    font-size:  1.2rem;
    font-weight: normal;
}
header h3{
  margin: 0;
  padding: 5px;
  background: var(--theme-color-2);
  font-size:  1rem;
  font-weight: normal;
  color: var(--highlight-color);
}

header h3 a{
  color: var(--highlight-color);
}
.wrapper {
    display: flex;  
    flex-flow: row wrap;
    text-align: center;
    background:var(--section-color);
    margin: 0 2% 20px 2%;
  }

h1{
    font-size: 2rem;
}

h2{
    font-size:  1.5rem;
}
  .wrapper > * {
    padding: 20px;
    flex: 1 100%;
  }
  
  .footer {
    background: lightgreen;
  }
  
  .main {
    text-align: left;
  }
  
  .aside h2{
    margin: 0;
  }
  .aside p{
    margin-top: 5px;
  }
  
  
  @media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
    .width50-l { width: 49%; margin: 0 1% 0 0;}
    .width50-r { width: 49%; margin: 0 0 0 1%;}
  }
  
  @media all and (min-width: 1200px) {
    .main    { flex: 2 0px; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
  }

  .iframe-container {
    overflow: hidden;
    padding-top: 56.5%;
    position: relative;
    }
  /*@media screen and (max-width: 1024px) {
  
    .iframe-container {
      padding-top: 56.5%;
      margin: 0% 0%;
    }
  
  }*/
    .iframe-container iframe, .iframe-container img {
     border: 0;
     height: 100%;
     top: 0;
     left: 0;
     position: absolute;
     width: 100%;
    }
     
    /* 4x3 Aspect Ratio */
    .iframe-container-4x3 {
    padding-top: 75%;
    }
  .icons{
    display: inline-block;
    width:145px;
    height: 145px;
    margin: 5px;
  }
  .icons img{
    width: 60%;
    height: 60%;
  }
.artefact{
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px 0 #CCC, 0 4px 8px 0 #CCC;
  margin-bottom: 20px;
}

.artefact h3{
  text-decoration: underline;
}

.process-learnings-box{
  display: flex;  
  flex-flow: row wrap;
  text-align: center;
}

.process, .learnings{
  width: 100%;
}

.learning {
  margin-top: 20px;
}

@media all and (min-width: 600px) {
  .process { width: 49%; margin: 0 1% 0 0;}
  .learnings { width: 49%; margin: 0 0 0 1%;}
}

.process::before, .learnings::before{
  font-size: 1.1rem;
  font-weight: bold;
}
.process::before{
  content: "Process";
}

.learnings::before{
  content: "Learnings";
}

.artefact .image, .artefact .image_long{
  margin: 20px;
  filter: drop-shadow(5px 5px 5px #CCC);
}

.artefact .image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.artefact .image_long{
  display: inline-block;
}

.artefact .list{
  display: inline-block;
  width: 100%;
  text-align: left;
}
.artefact img, .image_long img{
  max-height: 80vh;
  max-width: 100%;
  height: auto;
  width: auto;
}

@media all and (min-width: 600px) {
  .artefact .list{width: 80%;}
}

@media all and (min-width: 800px) {
  .artefact .list{width: 60%;}
}

.publication{
  height: 2rem;
  vertical-align: middle;
}
.publication p::before{
  content: "";
  display: inline-block;
  background: url("../icons/paper.svg") no-repeat;
  width: 2rem;
  height: 2rem;
  margin: 0 1rem 0 0;
}

.accordion {
  background-color: var(--theme-color-1);
  color: #fefefe;
  font-weight: bold;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: 1px solid rgb(190, 95, 28);
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: rgb(167, 83, 24);
}

.accordion:after {
  content: '\002B';
  color: #fefefe;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  background-color: #eee;
  max-height: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  text-align: left;
  display: flex;
}

.panel-left{
  box-sizing: border-box;
  padding: 0 20px;
}

.panel-left p{
  margin-top: 5px;
}
.panel-left h4{
  margin-bottom: 5px;
}

.panel-right{
  box-sizing: border-box;
  padding: 20px;
  display: none;
}

.panel-right > div{
  max-height: 30%;
  max-width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.panel-right > div > img{
  max-height: 100%;
  max-width: 100%;
  box-shadow: 0 4px 8px 0 #CCC, 0 4px 8px 0 #CCC;
}

.activity-container{
  padding-left: 20px;
}

@media all and (min-width: 800px) {
  .panel-left { width: 60%;}
  .panel-right { width: 40%; display: flex; flex-direction: column; justify-content: none;}
}
@media all and (min-width: 1200px) {
  .panel-right {justify-content: space-between;}
}