:root {
  --primary-color: rgba(12, 131, 167, 0.7);
  --overlay-color: rgba(22, 54, 80, 0.88);
  --theme-color-1: chocolate;
  --theme-color-2: rgb(12, 131, 167);
  --menu-speed: 0.75s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar, .navbar-bkg{
  position: absolute;
  top: 0;
  left: 0;
  height:70px;
  width: 100%;
  animation-name: slideInFromLeft;
  animation-duration: 1000ms;
  transition: ease-out;
  }
  .navbar{
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .navbar-bkg{
    background: var(--theme-color-2);
    box-shadow: 0 8px 10px 0px rgba(0,0,0,0.3);
  }

  @keyframes slideInFromLeft{
    0% {
      transform: translate(-300px, 0) scale(0.8);
      opacity: 0;
    }
    100% {
      transform: translate(0, 0) scale(1);
      opacity: 1;
    }
  }
.navbar-items{
  display: flex;
  margin-left: 50px;
}
.navbar a{
  color:#bbb;
  text-decoration:none;
  font-size:14px;
  margin-right: 20px;
}

.navbar ul{
  list-style:none;
}

.navbar a:hover{
  color:#eee;
}

#main{
  transition:margin-left 0.5s;
  padding:20px;
  overflow:hidden;
  width:100%;
}

@media(max-width:568px){
  .navbar{display:none;}
}

@media(min-width:568px){
  .menu-wrap{display:none;}
}

body {
  font-family: 'Proxima Nova', 'Roboto', Georgia;
  line-height: 1.4;
  background: rgb(245, 245, 245);
}

.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(100,112,138, 0.6);
  z-index: 3;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
}

.showcase {
  padding-top: 70px;
  display: flex;
  color: #eee;
  height: 100%;
  position: relative;
}

.intro{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: auto;
  color: #eee;
  z-index: 3;
}

.intro .title{
  border-top: 2px solid;
  border-bottom: 2px solid;
}

.profile-container { 
  display: none;
}

@media all and (min-width: 600px) {
  .intro {
    width: 90%;
  }

  
.profile-container {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    width: 35%;
    height: 100vh;
    display: block;
    background: url('../images/profile.png') no-repeat left;
    background-size: auto 100%;
    animation-name: fadeIn;
    animation-duration: 2000ms;
    transition: ease-in;
  }
}

@keyframes fadeIn{
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*.showcase:before {
  content: '';
  /*background: url('../images/profile_pic.jpg') no-repeat center center/cover;*/
  /*background-image:linear-gradient(chocolate, rgb(45, 82, 3));*/
  /*position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}*/

.showcase .showcase-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  background: var(--primary-color);
}
.showcase h1 {
  font-size: 6rem;
  animation-name: movingFirstName;
  animation-duration: 1000ms;
  transition: ease-out;
}

.showcase h3{
  content: '';
  
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  z-index: -1;
  /*box-shadow: inset 0px 0px 40px 40px rgba(12, 131, 167, 1);*/
  animation-name: growIn;
  animation-duration: 1000ms;
  transition: ease-out;
}
@keyframes growIn{
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes movingFirstName{
  0% {
    transform: translate(-300px, -150px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.showcase h2 {
  font-size: 6rem;
  animation-name: movingLastName;
  animation-duration: 1000ms;
  transition: ease-out;
}

@keyframes movingLastName{
  0% {
    transform: translate(100px, 50px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@media(max-width:568px){
  .showcase h1{font-size: 4rem;}
  .showcase h2{font-size: 4rem;}
}

.showcase p {
  font-size: 1.3rem;
  color: rgb(255, 255, 255);
  animation-name: fadeIn1;
  animation-duration: 2000ms;
  transition: none;
}
@keyframes fadeIn1{
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.showcase a {
  animation-name: fadeIn2;
  animation-duration: 2500ms;
  transition: none;
}
@keyframes fadeIn2{
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



.btn {
  border: 1px solid var(--theme-color-2);
  background: none;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.btn1{
  color:#eee;
}

.btn1:hover {
  color:#eee;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: var(--theme-color-2);
  z-index: -1;
  transition: 0.8s;
}

.btn1::before {
  top: 0;
  border-radius: 0 0 50% 50%;
  height: 180%;
}

.btn1:hover::before {
  height: 0%;
}

.contact-container{
  height: 100px;
  margin-top: 50px;
  z-index: 3;
}

.contact-icon{
  width: 50px;
  height: 50px;
  margin: 5px;
  padding: 2px;
  animation-duration: 1000ms;
  transition: none;
}

.contact-icon:hover{
  padding: 0px;
}

.contacts-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
}

.contact-img{
  border-radius: 50%;
  margin: 20px;
  width: 200px;
  height: 200px;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.3);
  animation-name: fadeUp;
  animation-duration: 1000ms;
  transition: none;
}

.contact-img:hover{
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

@keyframes fadeUp{
  0% {
    transform: translate(0px, 100px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.footer{
  background-color: var(--theme-color-2);
  color: #eee;
  font-size: 0.9rem;
  height: 80px;
  width: 100%;
  display: table; 
}

.footer p{
  text-align:center; 
  vertical-align: middle;
  display: table-cell;
}